<header>
  <h1><a href="/" class="nochange">'sup Sis!</a></h1>
  <hr/>
  <nav>
    <ul>
      <li><a href="/about" class="nochange">About</a></li>
      <li><a href="https://www.linkedin.com/pub/neil-sidhu/15/39a/3b5" class="nochange">Contact Neil</a></li>
    </ul>
  </nav>
  <hr/>
</header>
