<!DOCTYPE html>
<html lang="en">
<html itemscope itemtype="http://schema.org/Blog">
  <head>

    <meta charset="UTF-8">
    <title>'sup Sis!</title>
      <h1>You're reading 'sup Sis! Welcome. And happy Wendesday</h1>
      <h2>Stories from the coasts.  A little blog for my awesome family.</h2>
      <img src="http://i.imgur.com/Xqo172y.jpg" height="300" position=center/>
      <br></br>
      <a href="/messages">Home</a>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">


    <meta itemprop="name" content="title">

    <meta itemprop="description" content="description">

    <meta itemprop="image" content="image_url">

  </head>

  <body>
    <%= yield %>
  </body>
  <br></br>

  <footer><h2> A way to stay in touch by Neil Sidhu.  Happy Wednesday. </h2></footer>

</html>
