<!DOCTYPE html>
<html lang="en">
<html itemscope itemtype="http://schema.org/Blog">
  <head>

    <meta charset="UTF-8">
    <title>'sup Sis!</title>
      <h1>'sup Sis!</h1>
      <h2>Stories from the coasts.</h2>
      <p>A little blog for my awesome family.</p>
      <img src="http://i.imgur.com/Xqo172y.jpg" height="300"/>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/public/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">

    <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">


    <meta itemprop="name" content="title">

    <meta itemprop="description" content="description">

    <meta itemprop="image" content="image_url">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
