<%= @message["name"] %>

<a href="/messages/<%= @message["id"] %>/edit">Edit Message</a>

<form action="/messages/<%= @message["id"] %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Post">
</form>

