html, body {
  text-align: center;
}

/*html {
  background: url(http://i.imgur.com/Xqo172y.jpg)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
}*/

.info-category {
  font-weight: bold;
}

/*ul {
  margin-left: 10px;
}*/

li span {
  text-align: left;
  font-size: 1.15em;
  list-style-type: none;
  color: black;
}

img {
  border-radius: 10px;
  float: center;
  margin-right: 10px;
}

header, section {
  margin: 20px auto;
  padding: 10px 10px;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  max-width: 800px;
  min-width: 550px;
}

section {
  min-height: 200px;
}

#basic-info div {
  border: 1px solid white;
  width: 75%;
  margin: 0px auto 50px;
  text-align: left;
}

#statement {
  text-align: left;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  font-size: 14pt;
  color: #778899;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 12pt;
  color: #778899;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 11pt;
  color: #191970;
  text-align: center;
}

p {
  text-align: center;
  font-size: 11pt;
  color: #708090;
  text-align: center;
}

footer {
  margin: 30px 0px 30px 0px;
  color: white;
  font-size: 1.25em;
  cursor: default;
  text-align: center;
}

.message {
  color: red;
  font-weight: bold;
  font-size: 1.25em;
}
